input[type="text"]{
    float: right;
    clear: both;
}

form {
    width: 25em;
}

div {
    margin-bottom: 50px;
}

button {
    border: 1px solid black;
}

.clearfield{
    border-style: none;
}

.radioB{
    float: right;
    clear: both;
}

.checkB{
    float: right;
    clear: both;
}